
body{
    margin:0;    
}

.sm-wrapper{
    margin-top:100px;
}
.sidemenu{

    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#03d3fc;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:50px;
}


.sidemenu a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:20px;
    font-family: 'inconsolata',monospace;
    color : #ffff;
    display:block;
    letter-spacing:5px;
    margin-bottom:20px;
    transition:0.3s;
}
.sidemenu .close{
    position:absolute;
    top:0;
    right:25px;
    font-size:60px;
    margin-left:50px;
}

.sm-wrapper a:after{
    z-index :-1;
    position:absolute;
    left:0%;
    width:0;
    height:50px;
    content:'';
    transition:width 0.35s ease-in-out;
}
.sm-wrapper a:hover:after{
    width:10%;
}

.sm-wrapper a:hover{
    padding-left: 64px;
    transition :0.35s ease-in-out;
}

#pg-content{
    transition: margin-left 0.5s;
   
}
.bg{
    background: black 
}

.sidebar-heading{
    font-size:40px;
    font-family: 'inconsolata',monospace;
    color : #ffff;
    display:block;
    height:100px;
    margin-bottom:10px;
    padding:6px;
    padding-top: 10px;;
    background:#03d3fc;
    cursor: pointer;
}
.sidebar-heading:hover{
    color:#000;
}

.transparent{
    width:600px;
    position:absolute;
    box-sizing:border-box;
    
    
}
.h2{
    color:#fff;
    margin-top:20%;
    margin-left:20%;
}
.info{
    margin-top:5%;
    margin-left:10%;
    color:#fff;
    padding:8%;
    padding-bottom:30px;

}
.buton{
    margin-left:10%;
    padding:5%;
}
.btn{
    width:150px;
    height:70px;
    margin: 3%;
    border-radius:10px;
    font-size:20px;
}
.btn:hover{
    color:#000;
}


.d-inline-flex{
    height:100%;
}




#svg{

    position: absolute;
    margin-left:32em;
    margin-top:6em;
    float:right;
}

@media screen and (max-width: 992px) {
    #svg {
      
        margin-left:0;
        
    }
  }

.name{
    position:absolute;
    color:white;
    margin:2%;
    margin-left:25em;
    font-family: 'Tangerine', serif;
    font-size:48px;
    text-shadow: 2px 2px 2px #aaa;
    font-weight: 600;
}


#skills{
    background:White;
    padding :10px;
}
.skillsimg{
  width:100%;
    
}
.skillsli{
    background-color:rgba(0, 0, 0,0.5)
    
}

.interest{
    font-size:60px;
    color:white;
    font-weight: bolder;
    text-align: center;
}

#interest{
    text-align:center;
  
    
}
.carousel-inner{
    box-shadow: 3px 3px #ffd700;
}

#in{
    height:150px;
}



.blinking{
    float:right;    
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


.card{
    margin:6%;
    padding:2%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .card {
      padding:3%;
      margin-left:3%;
    }
  }